<!-- User Profile -->
<div class="container-fluid">

        <div class="row">
          <!-- Heading -->
          <h4 class="h4Style">Upload Bills</h4>
          <!-- Heading -->
        </div>

        <section>
            <div class="row">
                <div class="col-4">
                        <div class="card shadowClass">
                                <div class="card-header text-center upload_card_header" ><b>Request ID : 023</b></div>
                           
                                <div class="card-body ">
                                 <div class="row">
                                   <!-- Details of Trips -->
                                    <div class="col-6 text-left">
                                        <img class="uploadImg" src="../../../../../assets/userImages/trip1.png" alt="from"> 
                                        <span>Gurugram</span><br>
                                        <span>Mumbai</span>
                                        
                                    </div>
                                    <div class="uploadLine">

                                    </div>
                                    <div class="col-6 text-right">
                                        <img class="uploadImg2" src="../../../../../assets/userImages/trip2.png" alt="from"> 
                                        <span>April 27,2019</span><br>
                                        <span>April 30,2019</span>
                                    </div>
                                    <!-- Details of Trips -->

                                    <!-- Purpose of Trip -->
                                    <div class="col-12 margin_up_down">
                                      <div class="row upload_bg_heading" >
                                          <div class="col-3 half_bg">
                                            Trip Purpose
                                          </div>
                                          <div class="col-8">
                                            Meeting With Jio Client
                                          </div>
                                      </div>
                                    </div>

                                    <!-- Purpose of Trips -->

                                    <!-- Details of Bills -->
                                    <div class="col-6 text-left">
                                        <div class="row">
                                                
                                                <div class="col-12">
                                                    <span>Travel : 25</span><br>
                                                    <span>Accommodation : 25</span>
                                                   
                                                </div>
                                        </div>
                                        
                                    </div>
                                    <div class="uploadLine2">

                                    </div>
                                    <div class="col-6 text-right">
                                            <div class="row">
                                                   
                                                    <div class="col-12">
                                                        <span>Food : 25</span><br>
                                                        <span>Business Promotion : 25</span>
                                                    </div>
                                            </div>
                                    </div>

                                    <!-- Details of Bills -->



                                 </div>
                                </div>
                                <!-- Upload Btn -->
                                <div class="card-footer  text-center zeroPadding">
                                       <input type="button" class="btn basebtn fullbtn" value="Upload">
                                </div>
                                <!-- Upload Btn -->
                              </div>
                </div>

                <div class="col-4">
                    <div class="card shadowClass">
                        <div class="card-header text-center upload_card_header" ><b>Request ID : 023</b></div>
                   
                        <div class="card-body ">
                         <div class="row">
                           <!-- Details of Trips -->
                            <div class="col-6 text-left">
                                <img class="uploadImg" src="../../../../../assets/userImages/trip1.png" alt="from"> 
                                <span>Gurugram</span><br>
                                <span>Mumbai</span>
                                
                            </div>
                            <div class="uploadLine">

                            </div>
                            <div class="col-6 text-right">
                                <img class="uploadImg2" src="../../../../../assets/userImages/trip2.png" alt="from"> 
                                <span>April 27,2019</span><br>
                                <span>April 30,2019</span>
                            </div>
                            <!-- Details of Trips -->

                            <!-- Purpose of Trip -->
                            <div class="col-12 margin_up_down">
                              <div class="row upload_bg_heading" >
                                  <div class="col-3 half_bg">
                                    Trip Purpose
                                  </div>
                                  <div class="col-8">
                                    Meeting With Jio Client
                                  </div>
                              </div>
                            </div>

                            <!-- Purpose of Trips -->

                            <!-- Details of Bills -->
                            <div class="col-6 text-left">
                                <div class="row">
                                        
                                        <div class="col-12">
                                            <span>Travel : 25</span><br>
                                            <span>Accommodation : 25</span>
                                           
                                        </div>
                                </div>
                                
                            </div>
                            <div class="uploadLine2">

                            </div>
                            <div class="col-6 text-right">
                                    <div class="row">
                                           
                                            <div class="col-12">
                                                <span>Food : 25</span><br>
                                                <span>Business Promotion : 25</span>
                                            </div>
                                    </div>
                            </div>

                            <!-- Details of Bills -->



                         </div>
                        </div>
                        <!-- Upload Btn -->
                        <div class="card-footer  text-center zeroPadding">
                               <input type="button" class="btn basebtn fullbtn" value="Upload">
                        </div>
                        <!-- Upload Btn -->
                      </div>
                </div>

                <div class="col-4">
                    <div class="card shadowClass">
                        <div class="card-header text-center upload_card_header" ><b>Request ID : 023</b></div>
                   
                        <div class="card-body ">
                         <div class="row">
                           <!-- Details of Trips -->
                            <div class="col-6 text-left">
                                <img class="uploadImg" src="../../../../../assets/userImages/trip1.png" alt="from"> 
                                <span>Gurugram</span><br>
                                <span>Mumbai</span>
                                
                            </div>
                            <div class="uploadLine">

                            </div>
                            <div class="col-6 text-right">
                                <img class="uploadImg2" src="../../../../../assets/userImages/trip2.png" alt="from"> 
                                <span>April 27,2019</span><br>
                                <span>April 30,2019</span>
                            </div>
                            <!-- Details of Trips -->

                            <!-- Purpose of Trip -->
                            <div class="col-12 margin_up_down">
                              <div class="row upload_bg_heading" >
                                  <div class="col-3 half_bg">
                                    Trip Purpose
                                  </div>
                                  <div class="col-8">
                                    Meeting With Jio Client
                                  </div>
                              </div>
                            </div>

                            <!-- Purpose of Trips -->

                            <!-- Details of Bills -->
                            <div class="col-6 text-left">
                                <div class="row">
                                        
                                        <div class="col-12">
                                            <span>Travel : 25</span><br>
                                            <span>Accommodation : 25</span>
                                           
                                        </div>
                                </div>
                                
                            </div>
                            <div class="uploadLine2">

                            </div>
                            <div class="col-6 text-right">
                                    <div class="row">
                                           
                                            <div class="col-12">
                                                <span>Food : 25</span><br>
                                                <span>Business Promotion : 25</span>
                                            </div>
                                    </div>
                            </div>

                            <!-- Details of Bills -->



                         </div>
                        </div>
                        <!-- Upload Btn -->
                        <div class="card-footer  text-center zeroPadding">
                               <input type="button" class="btn basebtn fullbtn" value="Upload">
                        </div>
                        <!-- Upload Btn -->
                      </div>
                </div>


                
            </div>

<!-- ********************************************************************************************************************************* -->
            <!-- Second Section FOr more Trips Details -->

          <div class="row upperRowMargin">

            <div class="col-12">
              
              <div class="row lowerRowMarging">

                  <div class="col-4">
                      <div class="card shadowClass">
                              <div class="card-header text-center upload_card_header" ><b>Request ID : 023</b></div>
                         
                              <div class="card-body ">
                               <div class="row">
                                 <!-- Details of Trips -->
                                  <div class="col-6 text-left">
                                      <img class="uploadImg" src="../../../../../assets/userImages/trip1.png" alt="from"> 
                                      <span>Gurugram</span><br>
                                      <span>Mumbai</span>
                                      
                                  </div>
                                  <div class="uploadLine">

                                  </div>
                                  <div class="col-6 text-right">
                                      <img class="uploadImg2" src="../../../../../assets/userImages/trip2.png" alt="from"> 
                                      <span>April 27,2019</span><br>
                                      <span>April 30,2019</span>
                                  </div>
                                  <!-- Details of Trips -->

                                  <!-- Purpose of Trip -->
                                  <div class="col-12 margin_up_down">
                                    <div class="row upload_bg_heading" >
                                        <div class="col-3 half_bg">
                                          Trip Purpose
                                        </div>
                                        <div class="col-8">
                                          Meeting With Jio Client
                                        </div>
                                    </div>
                                  </div>

                                  <!-- Purpose of Trips -->

                                  <!-- Details of Bills -->
                                  <div class="col-6 text-left">
                                      <div class="row">
                                              
                                              <div class="col-12">
                                                  <span>Travel : 25</span><br>
                                                  <span>Accommodation : 25</span>
                                                 
                                              </div>
                                      </div>
                                      
                                  </div>
                                  <div class="uploadLine2">

                                  </div>
                                  <div class="col-6 text-right">
                                          <div class="row">
                                                 
                                                  <div class="col-12">
                                                      <span>Food : 25</span><br>
                                                      <span>Business Promotion : 25</span>
                                                  </div>
                                          </div>
                                  </div>

                                  <!-- Details of Bills -->



                               </div>
                              </div>
                              <!-- Upload Btn -->
                              <div class="card-footer  text-center zeroPadding">
                                     <input type="button" class="btn basebtn fullbtn" value="Upload">
                              </div>
                              <!-- Upload Btn -->
                            </div>
              </div>

              <div class="col-4">
                  <div class="card shadowClass">
                      <div class="card-header text-center upload_card_header" ><b>Request ID : 023</b></div>
                 
                      <div class="card-body ">
                       <div class="row">
                         <!-- Details of Trips -->
                          <div class="col-6 text-left">
                              <img class="uploadImg" src="../../../../../assets/userImages/trip1.png" alt="from"> 
                              <span>Gurugram</span><br>
                              <span>Mumbai</span>
                              
                          </div>
                          <div class="uploadLine">

                          </div>
                          <div class="col-6 text-right">
                              <img class="uploadImg2" src="../../../../../assets/userImages/trip2.png" alt="from"> 
                              <span>April 27,2019</span><br>
                              <span>April 30,2019</span>
                          </div>
                          <!-- Details of Trips -->

                          <!-- Purpose of Trip -->
                          <div class="col-12 margin_up_down">
                            <div class="row upload_bg_heading" >
                                <div class="col-3 half_bg">
                                  Trip Purpose
                                </div>
                                <div class="col-8">
                                  Meeting With Jio Client
                                </div>
                            </div>
                          </div>

                          <!-- Purpose of Trips -->

                          <!-- Details of Bills -->
                          <div class="col-6 text-left">
                              <div class="row">
                                      
                                      <div class="col-12">
                                          <span>Travel : 25</span><br>
                                          <span>Accommodation : 25</span>
                                         
                                      </div>
                              </div>
                              
                          </div>
                          <div class="uploadLine2">

                          </div>
                          <div class="col-6 text-right">
                                  <div class="row">
                                         
                                          <div class="col-12">
                                              <span>Food : 25</span><br>
                                              <span>Business Promotion : 25</span>
                                          </div>
                                  </div>
                          </div>

                          <!-- Details of Bills -->



                       </div>
                      </div>
                      <!-- Upload Btn -->
                      <div class="card-footer  text-center zeroPadding">
                             <input type="button" class="btn basebtn fullbtn" value="Upload">
                      </div>
                      <!-- Upload Btn -->
                    </div>
              </div>

              <div class="col-4">
                  <div class="card shadowClass">
                      <div class="card-header text-center upload_card_header" ><b>Request ID : 023</b></div>
                 
                      <div class="card-body ">
                       <div class="row">
                         <!-- Details of Trips -->
                          <div class="col-6 text-left">
                              <img class="uploadImg" src="../../../../../assets/userImages/trip1.png" alt="from"> 
                              <span>Gurugram</span><br>
                              <span>Mumbai</span>
                              
                          </div>
                          <div class="uploadLine">

                          </div>
                          <div class="col-6 text-right">
                              <img class="uploadImg2" src="../../../../../assets/userImages/trip2.png" alt="from"> 
                              <span>April 27,2019</span><br>
                              <span>April 30,2019</span>
                          </div>
                          <!-- Details of Trips -->

                          <!-- Purpose of Trip -->
                          <div class="col-12 margin_up_down">
                            <div class="row upload_bg_heading" >
                                <div class="col-3 half_bg">
                                  Trip Purpose
                                </div>
                                <div class="col-8">
                                  Meeting With Jio Client
                                </div>
                            </div>
                          </div>

                          <!-- Purpose of Trips -->

                          <!-- Details of Bills -->
                          <div class="col-6 text-left">
                              <div class="row">
                                      
                                      <div class="col-12">
                                          <span>Travel : 25</span><br>
                                          <span>Accommodation : 25</span>
                                         
                                      </div>
                              </div>
                              
                          </div>
                          <div class="uploadLine2">

                          </div>
                          <div class="col-6 text-right">
                                  <div class="row">
                                         
                                          <div class="col-12">
                                              <span>Food : 25</span><br>
                                              <span>Business Promotion : 25</span>
                                          </div>
                                  </div>
                          </div>

                          <!-- Details of Bills -->



                       </div>
                      </div>
                      <!-- Upload Btn -->
                      <div class="card-footer  text-center zeroPadding">
                             <input type="button" class="btn basebtn fullbtn" value="Upload">
                      </div>
                      <!-- Upload Btn -->
                    </div>
              </div>

              </div>

            </div>

            
            
          </div>
        </section>


</div>
