<div class="container py-5">
  <div class="row">
      <div class="col-md-12">
        
          <div class="row">
              <div class="col-md-6 mx-auto">

                  <!-- form card login -->
                  <div class="card rounded-0">
                      <div class="card-header">
                          <h3 class="mb-0">Login</h3>
                      </div>
                      <div class="card-body">

                        <form class="pt-3"
                        [formGroup]="loginForm"
                        (ngSubmit)="_onLogin()">
          
                    <div class="form-group">
                      <label>Email ID<sup>*</sup></label>
                      <input  type="email"
                              formControlName="email"
                              class="form-control"
                              placeholder="Enter Email ID">
                      <i class="mdi mdi-account"></i>
                      <control-messages [control]="loginForm.get('email')"
                                        [submitted]="submitted">
                      </control-messages>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password<sup>*</sup></label>
                      <input  type="password"
                              formControlName="password"
                              class="form-control"
                              placeholder="Enter Password">
                      <i class="mdi mdi-lock"></i>
                      <control-messages [control]="loginForm.get('password')"
                                        [submitted]="submitted">
                      </control-messages>
                    </div>
                    <div class="mt-5">
                      <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium" >
                        Login
                      </button>
                    </div>
                   
                  </form>
                       
                      </div>
                      <!--/card-block-->
                  </div>
                  <!-- /form card login -->

              </div>


          </div>
          <!--/row-->

      </div>
      <!--/col-->
  </div>
  <!--/row-->
</div>
<!--/container-->