<!-- Edit Travel Request -->
<div class="container-fluid">

        <div class="row">
          <!-- Heading -->
          <h4 class="h4Style">Local Travel Request</h4>
    
        </div>
    
        <!-- Third Section -->
    
    <div class="row">
        <div class="col-12" >
      
            <div class="card text-center ">
                <div class="card-header heading_style ">
                    Local Travel Request
                </div>
                <div class="card-body">
                   
             
                        <div class="row">
                          <div class="col-12 navbox">
                            <nav>
                              <div class="nav nav-tabs nav-fill nav_fill_width" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Local Trip Request</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Local Trip Report</a>
                                
                              </div>
                            </nav>
                            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                              <!-- EDIT DOMESTIC TRAVEL TRIPS -->
                              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                               
                               
                                    <div class="card text-center">
                                            <div class="card-header card_header_style text-left">
                                              Local Trip Request
                                            </div>
                                            <form (ngSubmit)="LocalFormSubmit()" class=" text-left">
                                            <div  id="contentInside" *ngFor="let obj of dataarray; let i = index" class=" row card-body">
                                           
                                                
                                                
                                                   
                                            <div class="form-group col-6 row">
                                              <label for="staticEmail" class="col-sm-4 col-form-label">DEPARTURE FROM</label>
                                              <div class="col-sm-7">
                                                <input name="depart_from{{i}}" [(ngModel)]="obj.depart_from" type="text" class="form-control"  placeholder="Enter Departure Place ">
                                              </div>
                                            </div>

                                            <div class="form-group col-6 row">
                                              <label for="staticEmail" class="col-sm-4 col-form-label">ARRIVAL AT</label>
                                              <div class="col-sm-7">
                                                <input name="arriavl_at{{i}}" [(ngModel)]="obj.arriavl_at" type="text" class="form-control"  placeholder="Enter Arrival Place">
                                              </div>
                                            </div>

                                            <div class="form-group col-6 row">
                                                <label for="staticEmail" class="col-sm-4 col-form-label">CLIENT INFO</label>
                                                <div class="col-sm-7">
                                                  <input name="client_info{{i}}" [(ngModel)]="obj.client_info" type="text" class="form-control"  placeholder="Enter Client Info ">
                                                </div>
                                              </div>

                                              <div class="form-group col-6 row">
                                                <label for="staticEmail" class="col-sm-4 col-form-label">PURPOSE</label>
                                                <div class="col-sm-7">
                                                  <input name="purpose{{i}}" [(ngModel)]="obj.purpose" type="text" class="form-control"  placeholder="Enter Prupose">
                                                </div>
                                             </div>

                    
                                              <div class="form-group col-6 row">
                                                <label for="staticEmail" class="col-sm-4 col-form-label">TRAVEL DATE</label>
                                                <div class="col-sm-7">
                                                  <input type="date" name="travel_date{{i}}" [(ngModel)]="obj.travel_date" class="form-control"  placeholder="Select Travel Date">
                                                </div>
                                              </div>


                                              
                                           <div class="form-group col-6 row">
                                              <label for="staticEmail" class="col-sm-4 col-form-label">TRAVEL MODE</label>
                                              <div class="col-sm-7">
                                                
                                                <select name="travel_mode{{i}}" [(ngModel)]="obj.travel_mode" (change)="get_travelmode(obj.travel_mode)" class="form-control">
                                                  <option selected disabled>Select Option</option>
                                                  <option value="Car">Car</option>
                                                  <option value="Bike">Bike</option>
                                                  <option value="Other">Uber/Ola/Other</option>
                                                </select>
                                              </div>
                                            </div>

                                              <div class="form-group col-6 row">
                                              <label for="staticEmail" class="col-sm-4 col-form-label">DISTANCE IN KM</label>
                                              <div class="col-sm-7">
                                                <input type="number" name="distance{{i}}" [(ngModel)]="obj.distance" class="form-control"  placeholder="Enter Distance in Km">
                                              </div>
                                            </div>

                                            <div class="form-group col-6 row">
                                              <label for="staticEmail" class="col-sm-4 col-form-label">RATE PER KM</label>
                                              <div class="col-sm-7">
                                                <input type="number" name="rate_per_km{{i}}" [(ngModel)]="obj.rate_per_km" readonly class="form-control"  placeholder="Enter Rate per KM">
                                              </div>
                                            </div>


                                            <div class="form-group col-6 row">
                                              <label for="staticEmail" class="col-sm-4 col-form-label">TOTAL</label>
                                              <div class="col-sm-7">
                                                <input type="number" name="total_amt{{i}}" [(ngModel)]="obj.total_amt" class="form-control"  placeholder="Total Amount">
                                              </div>
                                            </div>

                                            <div class="form-group col-6 row">
                                              <label for="staticEmail" class="col-sm-4 col-form-label">BILL OPTION</label>
                                              <div class="col-sm-7">
                                                <select name="bill_option{{i}}" [(ngModel)]="obj.bill_option" class="form-control">
                                                  <option selected disabled>Select Option</option>
                                                  <option value="Car">Yes</option>
                                                  <option value="Bike">No</option>
                                                 
                                                </select>
                                              </div>
                                            </div>

                                            <div class="form-group col-6 row">
                                              <label for="staticEmail" class="col-sm-4 col-form-label">UPLOAD Bill</label>
                                              <div class="col-sm-7">
                                                <input type="file" name="upload_bill{{i}}"  value="obj.upload_bill" (change)="onSelectedFile($event)" class="form-control"  placeholder="Total Amount">
                                              </div>
                                            </div>

                                                                                               
                                          <div class="col-11 text-right" *ngIf="i!=0">
                                            
                                            <button class="btn btn-danger" (click)="remove(i)">Remove</button>
                                          </div>
                                
                              
                                            </div>
                                            <div class="col-11 text-right" style="margin-bottom: 25px;">
                                                 
                                              <span class="btn btn-success" (click)="add()">Add More</span>
                                              <span style="visibility: hidden">nogap</span>
                                              <button class="btn btn-primary">Submit</button>
                                          </div>
                                          </form>
                                           
                                            
                                            
                                          </div>
                               
    
                              </div>
                              <!-- DOMESTIC TRAVEL FORM -->
    
                              <!-- EDIT INTERNATIONAL TRAVEL TABLE -->
                              <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                    <div class="card text-center">
                                            <div class="card-header card_header_style text-left">
                                              Local Trip Report
                                            </div>
                                            <div class="card-body">
                                              <table class="table table-striped">
                                                <thead class="table-bordered">
                                                <tr>
                                                <th scope="col">Trip Id</th>
                                                <th scope="col">Departure From</th>
                                                <th scope="col">Arrival At</th>
                                                <th scope="col">Departure Date</th>
                                                <th scope="col">Arrival Date</th>
                                                <th scope="col">Reason</th>
                                                <th scope="col">Action</th>
                                                
                                                </tr>
                                                </thead>      
                                                <tbody>
                                                  <tr>
                                                    <th scope="row">1</th>
                                                    <td>Delhi</td>
                                                    <td>Turkey</td>
                                                    <td>12.05.2019</td>
                                                    <td>18.05.2019</td>
                                                    <td>Client Meeting</td>
                                                    <td><button class="btn view-btn">Edit</button></td>
                                                   
                                                  </tr>
                                                  <tr>
                                                    <th scope="row">2</th>
                                                    <td>Delhi</td>
                                                    <td>Vietnam</td>
                                                    <td>12.05.2019</td>
                                                    <td>18.05.2019</td>
                                                    <td>Client Meeting</td>
                                                    <td><button class="btn view-btn">Edit</button></td>
                                                   
                                                  </tr>
                                                  <tr>
                                                    <th scope="row">3</th>
                                                    <td>Delhi</td>
                                                    <td>Singapore</td>
                                                    <td>12.05.2019</td>
                                                    <td>18.05.2019</td>
                                                    <td>Client Meeting</td>
                                                    <td><button class="btn view-btn">Edit</button></td>
                                                    
                                                  </tr>
                                                </tbody>
                                              </table>
                                              
                                            </div>
                                            
                                            
                                          </div>
                              </div>
                              <!-- INTERNATIONAL TRAVEL FORM -->
                              
                              
                            </div>
                          
                          </div>
                        </div>
                      
                </div>
                
                
              </div>
       
      
          
        </div>
      
      </div>
        
    
    </div>