<!-- Edit Travel Request -->
<div class="container-fluid">

        <div class="row">
          <!-- Heading -->
          <h4 class="h4Style">Local Travel Request</h4>
    
        </div>
    
        <!-- Third Section -->
    
    <div class="row">
        <div class="col-12" >
      
            <div class="card text-center ">
                <div class="card-header heading_style ">
                    Local Travel Request
                </div>
                <div class="card-body">
                   
             
                        <div class="row">
                          <div class="col-12 navbox">
                            <nav>
                              <div class="nav nav-tabs nav-fill nav_fill_width" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Local Trip Request</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Local Trip Report</a>
                                
                              </div>
                            </nav>
                            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                              <!-- EDIT DOMESTIC TRAVEL TRIPS -->
                              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                               
                               
                                    <div class="card text-center">
                                            <div class="card-header card_header_style text-left">
                                              Local Trip Request
                                            </div>
                                            <form [formGroup]="localTravelForm"  (ngSubmit)="LocalFormSubmit()" class=" row text-left">
                                            <div formArrayName="items" *ngFor="let item of localTravelForm.get('items').controls; let i = index;" class=" card-body">
                                           
                                                
                                                
                                                   <div [formGroupName]="i" class="col-12 row">

                                                   
                                            <div class="form-group col-6 row">
                                              <label for="staticEmail" class="col-sm-4 col-form-label">DEPARTURE FROM</label>
                                              <div class="col-sm-7">
                                                <input formControlName="depart_from" type="text" class="form-control"  placeholder="Enter Departure Place ">
                                              </div>
                                            </div>

                                         

                                            <div class="form-group col-6 row">
                                              <label for="staticEmail" class="col-sm-4 col-form-label">UPLOAD Bill</label>
                                              <div class="col-sm-7">
                                                <input type="file" formControlName="profile"  (change)="onFileChange($event,i)" class="form-control"  placeholder="Total Amount">
                                              </div>
                                            </div>

                                                                                               
                                          <div class="col-11 text-right" *ngIf="i!=0">
                                            
                                            <button class="btn btn-danger" (click)="remove(i)">Remove</button>
                                          </div>
                                
                                          </div>
                                            </div>
                                            <div class="col-11 text-right" style="margin-bottom: 25px;">
                                                 
                                              <span class="btn btn-success" (click)="addItem()">Add More</span>
                                              <span style="visibility: hidden">nogap</span>
                                              <button class="btn btn-primary">Submit</button>
                                          </div>
                                          </form>
                                           
                                            
                                            
                                          </div>
                               
    
                              </div>
                              <!-- DOMESTIC TRAVEL FORM -->
    
                              <!-- EDIT INTERNATIONAL TRAVEL TABLE -->
                              <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                    <div class="card text-center">
                                            <div class="card-header card_header_style text-left">
                                              Local Trip Report
                                            </div>
                                            <div class="card-body">
                                              <table class="table table-striped">
                                                <thead class="table-bordered">
                                                <tr>
                                                <th scope="col">Trip Id</th>
                                                <th scope="col">Departure From</th>
                                                <th scope="col">Arrival At</th>
                                                <th scope="col">Departure Date</th>
                                                <th scope="col">Arrival Date</th>
                                                <th scope="col">Reason</th>
                                                <th scope="col">Action</th>
                                                
                                                </tr>
                                                </thead>      
                                                <tbody>
                                                  <tr>
                                                    <th scope="row">1</th>
                                                    <td>Delhi</td>
                                                    <td>Turkey</td>
                                                    <td>12.05.2019</td>
                                                    <td>18.05.2019</td>
                                                    <td>Client Meeting</td>
                                                    <td><button class="btn view-btn">Edit</button></td>
                                                   
                                                  </tr>
                                                  <tr>
                                                    <th scope="row">2</th>
                                                    <td>Delhi</td>
                                                    <td>Vietnam</td>
                                                    <td>12.05.2019</td>
                                                    <td>18.05.2019</td>
                                                    <td>Client Meeting</td>
                                                    <td><button class="btn view-btn">Edit</button></td>
                                                   
                                                  </tr>
                                                  <tr>
                                                    <th scope="row">3</th>
                                                    <td>Delhi</td>
                                                    <td>Singapore</td>
                                                    <td>12.05.2019</td>
                                                    <td>18.05.2019</td>
                                                    <td>Client Meeting</td>
                                                    <td><button class="btn view-btn">Edit</button></td>
                                                    
                                                  </tr>
                                                </tbody>
                                              </table>
                                              
                                            </div>
                                            
                                            
                                          </div>
                              </div>
                              <!-- INTERNATIONAL TRAVEL FORM -->
                              
                              
                            </div>
                          
                          </div>
                        </div>
                      
                </div>
                
                
              </div>
       
      
          
        </div>
      
      </div>
        
    
    </div>