<!-- User Profile -->
<div class="container-fluid">

    <div class="row">
      <!-- Heading -->
      <h4 class="h4Style">Edit Profile</h4>
      <!-- Heading -->
    </div>

    <!-- Saved Profile Section -->
    <section>
       <div class="row div_background">
            <div class="col-2">
                    <label class="hoverable" for="fileInput">
                            <img class="pro-img" [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'"> 
                            <div class="hover-text">Choose</div>
                            <div class="background"></div>
                          </label>
                          <br/>
                          <input id="fileInput" type='file' (change)="onSelectFile($event)">
                          <!-- <button *ngIf="url" (click)="delete()" >delete</button> -->
            </div>

            <div class="col-10">
                <div class="row centre_div"> 
                    <div class="col">
                            <div class="form-group row">
                                <label for="staticEmail" class="col-sm-5 col-form-label"><b>Employee Code</b></label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control-plaintext outlineClass" readonly value={{emp_code}}>
                                </div>
                            </div>
            
                            <div class="form-group row">
                                <label for="staticEmail" class="col-sm-5 col-form-label"><b>Company</b></label>
                                <div class="col-sm-7">
                                <input type="text" class="form-control-plaintext outlineClass" readonly value={{company}}>
                                </div>
                            </div>
                    </div>   

                    <div class="col">
                            <div class="form-group row">
                                <label for="staticEmail" class="col-sm-5 col-form-label"><b>Email</b></label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control-plaintext outlineClass" readonly value={{email}}>
                                </div>
                            </div>
                
                            <div class="form-group row">
                                <label for="staticEmail" class="col-sm-5 col-form-label"><b>Designation</b></label>
                                <div class="col-sm-7">
                                <input type="text" class="form-control-plaintext outlineClass" readonly value={{designation}}>
                                </div>
                            </div>
                        
                    </div>

                    <div class="col">
                            <div class="form-group row">
                                <label for="staticEmail" class="col-sm-5 col-form-label"><b>Reporting Manager</b></label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control-plaintext outlineClass" readonly value={{report_manager}}>
                                </div>
                            </div>
                    
                            <div class="form-group row">
                                <label for="staticEmail" class="col-sm-5 col-form-label"><b>Level</b></label>
                                <div class="col-sm-7">
                                <input type="text" class="form-control-plaintext outlineClass" readonly value={{level}}>
                                </div>
                            </div>

                    </div>
                  
                </div>
            </div>
       </div>

    </section>

    <!-- Edit Profile Section -->
    <section>
            
            <div class="row div_background card text-left">
                    <div class="card-header heading_style">
                        Edit Your Profile
                    </div>
                    <div class="card-body">
                        <!-- Passport FOrm -->
                        <form [formGroup]="EditProfileForm" (ngSubmit)="onSubmit()" class="row" >
                                <div class="col-6">
                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-sm-4 col-form-label">FIRST NAME</label>
                                        <div class="col-sm-7">
                                            <input type="text" formControlName="firstname" class="form-control"  placeholder="Enter First Name">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-sm-4 col-form-label">GENDER</label>
                                        <div class="col-sm-7">
                                               
                                               
                                                    <select class="form-control" formControlName="gender">
                                                        <option selected disabled>Select Option</option>
                                                        <option>Female</option>
                                                        <option>Male</option>
                                                        
                                                        </select>
                                                
                                        </div>
                                    </div>
                                      
                                </div>
        
                                <div class="col-6">
                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-sm-4 col-form-label">LAST NAME</label>
                                        <div class="col-sm-7">
                                            <input type="text" formControlName="lastname" class="form-control"  placeholder="Enter Last Name">
                                        </div>
                                    </div>
                                       


                                    <div class="form-group row">
                                            <label for="staticEmail" class="col-sm-4 col-form-label">HAVE PASSPORT</label>
                                            <div class="col-sm-7">
                                                <select class="form-control" formControlName="passport_status">
                                                    <option selected disabled>Select Option</option>
                                                    <option>Yes</option>
                                                    <option>No</option>
                                                    
                                                    </select>
                                            </div>
                                        </div>
                                </div>

                               

                                <!-- <div class="col-10 text-center passport_para">
                                    <p>Do You Have Passport ?</p>
                                    <label class="radio-inline radio_lable">
                                            <input class="radio_style" type="radio" name="passport" >YES
                                        </label>
                                        <label class="radio-inline radio_lable">
                                            <input class="radio_style" type="radio" name="passport">NO
                                        </label>
                                </div>
                                <div class="col-12" style="margin-bottom:25px"></div> -->

                                <div class="col-6">
                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-sm-4 col-form-label">PASSPORT NUMBER</label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control" formControlName="passport_number" placeholder="Enter Passport Number">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-sm-4 col-form-label">BIRTH PLACE</label>
                                        <div class="col-sm-7">
                                            <select formControlName="birth_place" class="form-control" >
                                                <option selected disabled>Select Option</option>
                                                <option>India</option>
                                                <option>Other</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                            <label for="staticEmail" class="col-sm-4 col-form-label">CITIZENSHIP COUNTRY</label>
                                            <div class="col-sm-7">
                                                <select formControlName="citizenship" class="form-control" >
                                                        <option selected disabled>Select Option</option>
                                                        <option>India</option>
                                                        <option>Other</option>
                                                    </select>
                                            </div>
                                    </div>
                                        
                                </div>
        
                                <div class="col-6">
                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-sm-4 col-form-label">PASSPORT EXPIRY</label>
                                        <div class="col-sm-7">
                                            <input type="date" formControlName="passport_expiry" class="form-control"  placeholder="Enter Last Name">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                            <label for="staticEmail" class="col-sm-4 col-form-label">PASSPORT ISSUE COUNTRY</label>
                                            <div class="col-sm-7">
                                                <select formControlName="passport_country" class="form-control" >
                                                        <option selected disabled>Select Option</option>
                                                        <option>India</option>
                                                        <option>Other</option>
                                                    </select>
                                            </div>
                                    </div>

                                    <div class="form-group row">
                                            <label for="staticEmail" class="col-sm-4 col-form-label">PLACE OF PASSPOSRT ISSUED</label>
                                            <div class="col-sm-7">
                                            <select formControlName="passport_issuePlace" class="form-control" >
                                                    <option selected disabled>Select Option</option>
                                                    <option>India</option>
                                                    <option>Other</option>
                                                </select>
                                            </div>
                                    </div>
                                        
                                </div>

                                <div class="col-11 text-right" style="margin-top: 15px;">
                                        <button type="submit" class="btn basebtn" >Update Profile</button>
                                </div>
                                
                            </form>
                        


                       
                    
                    </div>
            </div>
        
    </section>
    
</div>