<header>


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#menu-toggle" id="menu-toggle"><img class="logo" src="../../../../assets/userImages/OneClick logo.png" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-bell" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-cog" aria-hidden="true"></i></a>
          </li>
         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle link_design" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-caret-down"></i> John <i class="fa fa-user-circle fa_icon"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#" [routerLink]="['/users/profile']">Edit Profile</a>
              <small class="dropdown-item" style="cursor: pointer" (click)="Logout()">Logout</small>
              <!-- <a class="dropdown-item" href="#" (click)="Logout()">Logout</a> -->
              
            </div>
          </li>
        </ul>
</div>
</nav>

</header>
<!-- Side bar content -->
<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
           
            <li>
                <a href="#"  [routerLink]="['/manager/dashboard']"> <i class="fa fa-home" aria-hidden="true"></i> Dashboard</a>
            </li>
            <li>
                <a href="#" ><i class="fa fa-home" aria-hidden="true"></i> Pending Request</a>
            </li>
          
          
            
        </ul>


    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
       
             <!-- Main content -->
            <main class="main">

                <router-outlet></router-outlet>
            </main>
              <!-- Main content -->

              



    </div>
    <!-- /#page-content-wrapper -->

</div>

<!-- /#wrapper -->


<!-- Side bar -->

<!-- <footer class="footer">
    <div class="container-fluid clearfix">
      <span class="text-muted d-block text-center">Copyright © {{year}} Travel Support. All rights reserved.</span>
    </div>
  </footer> -->

