<!-- Edit Travel Request -->
<div class="container-fluid">

  <div class="row">
    <!-- Heading -->
    <h4 class="h4Style">Dashboard</h4>

  </div>

  <!-- Third Section -->

<div class="row">
  <div class="col-12" >

      <div class="card text-center ">
          <div class="card-header heading_style ">
              Pending Travel Request
          </div>
          <div class="card-body">
             
       
                  <div class="row">
                    <div class="col-12 navbox">
                      <nav>
                        <div class="nav nav-tabs nav-fill nav_fill_width" id="nav-tab" role="tablist">
                          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">  Domestic Trip Report</a>
                          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">  International Trip Report</a>
                          
                        </div>
                      </nav>
                      <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                        <!-- EDIT DOMESTIC TRAVEL TRIPS -->
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                         
                         
                              <div class="card text-center">
                                      <div class="card-header card_header_style text-left">
                                        Pending Domestic Trip Report
                                      </div>

                                      <div class="card-body">
                                        <table class="table table-striped">
                                          <thead class="table-bordered">
                                          <tr>
                                          <th scope="col">Trip Id</th>
                                          <th scope="col">Departure From</th>
                                          <th scope="col">Arrival At</th>
                                          <th scope="col">Departure Date</th>
                                          <th scope="col">Arrival Date</th>
                                          <th scope="col">Reason</th>
                                          <th scope="col">Advance Required</th>
                                          <th scope="col">Action</th>
                                          
                                          </tr>
                                          </thead>      
                                          <tbody>
                                              <!-- <tr *ngFor="let domes_table of domes_table let i = index;" >
                                                  <th scope="row">{{i}}</th> -->
                                            <tr *ngFor="let domes_table of domes_table" >
                                              <th scope="row">{{domes_table.req_tripId}}</th>
                                              <td>{{domes_table.departure_from}}</td>
                                              <td>{{domes_table.arrival_at}}</td>
                                              <td>{{domes_table.departure_date}}</td>
                                              <td>{{domes_table.arrival_date}}</td>
                                              <td>{{domes_table.travel_purpose}}</td>
                                              <td>{{domes_table.advance_required}}</td>
                                              <td><a [routerLink]="['/manager/view',domes_table.id]" class="btn view-btn" >View</a></td>
                                             
                                           
                                          </tbody>
                                        </table>
                                        
                                      </div>
                                     
                                      
                                      
                                    </div>
                         

                        </div>
                        <!-- DOMESTIC TRAVEL FORM -->

                        <!-- EDIT INTERNATIONAL TRAVEL TABLE -->
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                              <div class="card text-center">
                                      <div class="card-header card_header_style text-left">
                                        Pending International trip Report
                                      </div>
                                      <div class="card-body">
                                        <table class="table table-striped">
                                          <thead class="table-bordered">
                                          <tr>
                                          <th scope="col">Trip Id</th>
                                          <th scope="col">Departure From</th>
                                          <th scope="col">Arrival At</th>
                                          <th scope="col">Departure Date</th>
                                          <th scope="col">Arrival Date</th>
                                          <th scope="col">Reason</th>
                                        
                                          <th scope="col">Action</th>
                                          
                                          </tr>
                                          </thead>      
                                          <tbody>
                                            <tr>
                                              <th scope="row">1</th>
                                              <td>Delhi</td>
                                              <td>Turkey</td>
                                              <td>12.05.2019</td>
                                              <td>18.05.2019</td>
                                              <td>Client Meeting</td>
                                              <td><button class="btn view-btn">Edit</button></td>
                                             
                                            </tr>
                                            <tr>
                                              <th scope="row">2</th>
                                              <td>Delhi</td>
                                              <td>Vietnam</td>
                                              <td>12.05.2019</td>
                                              <td>18.05.2019</td>
                                              <td>Client Meeting</td>
                                              <td><button class="btn view-btn">Edit</button></td>
                                             
                                            </tr>
                                            <tr>
                                              <th scope="row">3</th>
                                              <td>Delhi</td>
                                              <td>Singapore</td>
                                              <td>12.05.2019</td>
                                              <td>18.05.2019</td>
                                              <td>Client Meeting</td>
                                              <td><button class="btn view-btn">Edit</button></td>
                                              
                                            </tr>
                                          </tbody>
                                        </table>
                                        
                                      </div>
                                      
                                      
                                    </div>
                        </div>
                        <!-- INTERNATIONAL TRAVEL FORM -->
                        
                        
                      </div>
                    
                    </div>
                  </div>
                
          </div>
          
          
        </div>
 

    
  </div>

</div>
  



  <!-- Fourth Section -->

  <!-- <div class="row">
      <div class="col-12" >
    
          <div class="card text-center ">
              <div class="card-header heading_style ">
                  View Pending Travel Request
              </div>
              <div class="card-body">
                 
           
                  <table class="table table-striped">
                      <thead class="table-bordered">
                      <tr>
                      <th scope="col">Trip Id</th>
                      <th scope="col">Departure From</th>
                      <th scope="col">Arrival At</th>
                      <th scope="col">Departure Date</th>
                      <th scope="col">Arrival Date</th>
                      <th scope="col">Reason</th>
                      <th scope="col">Action</th>
                      
                      </tr>
                      </thead>      
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Delhi</td>
                          <td>Turkey</td>
                          <td>12.05.2019</td>
                          <td>18.05.2019</td>
                          <td>Client Meeting</td>
                          <td><button class="btn view-btn">Edit</button></td>
                         
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Delhi</td>
                          <td>Vietnam</td>
                          <td>12.05.2019</td>
                          <td>18.05.2019</td>
                          <td>Client Meeting</td>
                          <td><button class="btn view-btn">Edit</button></td>
                         
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Delhi</td>
                          <td>Singapore</td>
                          <td>12.05.2019</td>
                          <td>18.05.2019</td>
                          <td>Client Meeting</td>
                          <td><button class="btn view-btn">Edit</button></td>
                          
                        </tr>
                      </tbody>
                    </table>
                    
              </div>
              
              
            </div>
     
    
        
      </div>
    
    </div> -->
