<!-- Dashboard -->
<div class="container-fluid">

  <div class="row">
    <!-- Heading -->
    <h4 class="h4Style">Dashboard</h4>
    <!-- Heading -->

    <div class="col-12">
      <div class="row">
        <div class="col-7">
            <div class="row">

                  <div class=" box">
                    <img src="../../../../../assets/userImages/Total bills.png" alt="totalBill">
                    <hr>
                    <p>Total Bills</p>
                    <span>256</span>
                  </div>
                  <div class=" box">
                      <img src="../../../../../assets/userImages/Approved bills.png" alt="Approved">
                      <hr>
                      <p>Approved Bills</p>
                      <span>145</span>
                  </div>
                  <div class=" box">
                      <img src="../../../../../assets/userImages/Reject bills.png" alt="Reject">
                    <hr>
                    <p>Reject Bills</p>
                    <span>562</span>
                  </div>
                  <div class=" box">
                      <img src="../../../../../assets/userImages/Pending bills.png" alt="pending">
                    <hr>
                    <p>Pending Bills</p>
                    <span>25</span>
                  </div>

            </div>
        </div>

     
        <div class="col-5 ">
            <div class="row " style="padding: 5px">

              <div class="col-12 box2">
                <div class="row">
                    <div class=" col-4 side_border">
                        <p class="para_font_size1">Total Amount</p>
                        <p class="para_font_size">$250</p>
                        
                      </div>
        
                      <div class=" col-4 side_border">
                          <p class="para_font_size1">Approved Amount</p>
                          <p class="para_font_size">$250</p>
                      </div>
        
                      <div class=" col-4 ">
                          <p class="para_font_size1">Pending Amount</p>
                          <p class="para_font_size">$250</p>
                      </div>
                      
                      <div class="col-12" style="margin-top: 15px;">
                        <input type="button" value=" View Analytics" class="btn baseinfo-btn">
                      </div>
                </div>
              </div>

              </div>
        </div>
      </div>
    </div>
    



  </div>
  <!-- First Section -->

  <!-- Second Section -->
<div class="row" style="    margin-top: -80px;
background:#ffffff;">

  <div class=" col-12 localForm">
    
    <div class="row">
      <div class="col-2" style="text-align: center">
        <img src="../../../../../assets/userImages/Local travel.png" alt="localTravel">
        <br>
        <p>Local Travel Request</p>
     
      </div>
      <div class="lineheignt"></div>
      <div class="col-9 style_div" >
          <form [formGroup]="localTravelForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col">
                  <input type="text" formControlName="source"  class="form-control" placeholder="Source " [ngClass]="{ 'is-invalid': submitted && f.source.errors }" />
                  <div *ngIf="submitted && f.source.errors" class="invalid-feedback">
                    <div *ngIf="f.source.errors.required">Source is required</div>
                  </div>
                </div>

                <div class="col">
                  <input type="text" formControlName="destination"  class="form-control" placeholder="Destination" [ngClass]="{ 'is-invalid': submitted && f.destination.errors }" />
                  <div *ngIf="submitted && f.destination.errors" class="invalid-feedback">
                    <div *ngIf="f.destination.errors.required">Destination is required</div>
                  </div>
                </div>

                <div class="col">
                    <input type="text" formControlName="client"  class="form-control" placeholder="Client" [ngClass]="{ 'is-invalid': submitted && f.client.errors }" />
                    <div *ngIf="submitted && f.client.errors" class="invalid-feedback">
                      <div *ngIf="f.client.errors.required">Client is required</div>
                    </div>
                </div>

                  <div class="col">
                      <input type="file" name="profile"  (change)="onFileChange($event)" class="form-control" placeholder="profile" [ngClass]="{ 'is-invalid': submitted && f.profile.errors }" />
                      <div *ngIf="submitted && f.profile.errors" class="invalid-feedback">
                        <div *ngIf="f.profile.errors.required">Upload is required</div>
                      </div>
                  </div>

                  <div class="col">
                        <!-- <input type="button" class=" btn basebtn" value="Submit"> -->
                        <button type="submit" class="btn basebtn" >
                          Submit
                        </button>
                   </div>
              </div>
          </form>
      </div>
    </div>
  


  </div>
</div>



<!-- Third Section -->

<div class="row" style="background: white">
  <div class="col-8" >

      <div class="card text-center margin_class">
          <div class="card-header card_header_style">
              Report Status
          </div>
          <div class="card-body">
              <div class="container">
       
                  <div class="row">
                    <div class="col-xs-12 navbox">
                      <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">All</a>
                          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Approval</a>
                          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Pending</a>
                          <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">Reject</a>
                        </div>
                      </nav>
                      <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                          <table class="table table-striped">
                           
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td class="font-weight-bold">Request ID-023</td>
                                <td>04.27.2019-Gurgram To Mumbai</td>
                                <td class="text-danger font-italic">Awaited Approval</td>
                                <td><button class="btn view-btn">View</button></td>
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td class="font-weight-bold">Request ID-022</td>
                                <td>04.27.2019-Gurgram To Mumbai</td>
                                <td class="text-success font-italic"> Approved</td>
                                <td><button class="btn view-btn">View</button></td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td class="font-weight-bold">Request ID-021</td>
                                <td>04.27.2019-Gurgram To Mumbai</td>
                                <td class="text-danger font-italic">Awaited Approval</td>
                                <td><button class="btn view-btn">View</button></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                          <table class="table table-striped">
                           
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>Request ID-023</td>
                                <td>04.27.2019-Gurgram To Mumbai</td>
                                <td>Awaited Approval</td>
                                <td><button class="btn btn-success">View</button></td>
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>Request ID-022</td>
                                <td>04.27.2019-Gurgram To Mumbai</td>
                                <td>Awaited Approval</td>
                                <td><button class="btn btn-success">View</button></td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>Request ID-021</td>
                                <td>04.27.2019-Gurgram To Mumbai</td>
                                <td>Awaited Approval</td>
                                <td><button class="btn btn-success">View</button></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                          <table class="table table-striped">
                           
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>Request ID-023</td>
                                <td>04.27.2019-Gurgram To Mumbai</td>
                                <td>Awaited Approval</td>
                                <td><button class="btn btn-success">View</button></td>
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>Request ID-022</td>
                                <td>04.27.2019-Gurgram To Mumbai</td>
                                <td>Awaited Approval</td>
                                <td><button class="btn btn-success">View</button></td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>Request ID-021</td>
                                <td>04.27.2019-Gurgram To Mumbai</td>
                                <td>Awaited Approval</td>
                                <td><button class="btn btn-success">View</button></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                          <table class="table table-striped">
                           
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>Request ID-023</td>
                                <td>04.27.2019-Gurgram To Mumbai</td>
                                <td>Awaited Approval</td>
                                <td><button class="btn btn-success">View</button></td>
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>Request ID-022</td>
                                <td>04.27.2019-Gurgram To Mumbai</td>
                                <td>Awaited Approval</td>
                                <td><button class="btn btn-success">View</button></td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>Request ID-021</td>
                                <td>04.27.2019-Gurgram To Mumbai</td>
                                <td>Awaited Approval</td>
                                <td><button class="btn btn-success">View</button></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    
                    </div>
                  </div>
                </div>
          </div>
          
          
        </div>
 

    
  </div>

  <div class="col-4">
    <div class="card text-center">
      <div class="card-header card_header_style">
        Local Travel History
      </div>
      <div class="card-body">
        <table class="table table-striped">
                 
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td class="font-weight-bold">Request ID-023</td>
              <td>04.27.2019-Gurgram To Mumbai</td>
             
            </tr>
            <tr>
              <th scope="row">2</th>
              <td class="font-weight-bold">Request ID-022</td>
              <td>04.27.2019-Gurgram To Mumbai</td>
             
            </tr>
            <tr>
              <th scope="row">3</th>
              <td class="font-weight-bold">Request ID-021</td>
              <td>04.27.2019-Gurgram To Mumbai</td>
              
            </tr>
          </tbody>
        </table>
        <input type="button" class="btn baseinfo-btn" value="See All">
      </div>
      
      
    </div>
  </div>

</div>
  

</div>
<!-- Dashboard -->