<!-- Edit Travel Request -->
<div class="container-fluid">

    <div class="row">
      <!-- Heading -->
      <h4 class="h4Style">View Details</h4>
  
    </div>
  
    <!-- Third Section -->
  
  <div class="row">
    <div class="col-12" >
  
        <div class="card  ">
            <div class="card-header heading_style ">
                Pending Travel Request
            </div>
            <div class="card-body">
               
                <div class="row">
                    <div class="col-12">
                            <h4 style="color: #2e448f">Travel Details</h4><hr>
                    </div>
                   
                    <div class="col-3">
                        <div class="row">
                            <div class="col-12">
                                <strong>Trip ID</strong>
                            </div>
                            <div class="col-12">
                                    {{req_tripId}}
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="row">
                            <div class="col-12">
                                <strong>Departure From</strong>
                            </div>
                            <div class="col-12">
                              {{departure_from}}
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="row">
                            <div class="col-12">
                                <strong>Arrival At</strong>
                            </div>
                            <div class="col-12">
                                    {{arrival_at}}
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row">
                            <div class="col-12">
                                <strong>Travel Purpose</strong>
                            </div>
                            <div class="col-12">
                                    {{travel_purpose}}
                            </div>
                        </div>
                     </div>


                     <!-- <div class="col-12 " style="visibility: hidden">safasfasfasf</div> -->


                     <div class="col-3">
                            <div class="row">
                                <div class="col-12">
                                    <strong>Departure Date</strong>
                                </div>
                                <div class="col-12">
                                        {{departure_date}}
                                </div>
                            </div>
                       </div>

                       <div class="col-3">
                            <div class="row">
                                <div class="col-12">
                                    <strong>Arrival Date</strong>
                                </div>
                                <div class="col-12">
                                        {{arrival_date}}
                                </div>
                            </div>
                         </div>

                        <!-- <div class="col-12 " style="visibility: hidden">safasfasfasf</div> -->

                        <div class="col-12">
                                <h4 style="color: #2e448f">Other Details</h4><hr>
                        </div>
                     <div class="col-3">
                        <div class="row">
                            <div class="col-12">
                                <strong>Travel Mode</strong>
                            </div>
                            <div class="col-12">
                                    {{travel_mode}}
                            </div>
                        </div>
                    </div>


                        <div class="col-3">
                            <div class="row">
                                <div class="col-12">
                                    <strong>Accommodation Required</strong>
                                </div>
                                <div class="col-12">
                                        {{accommodation_required}}
                                </div>
                            </div>
                        </div>


                            <div class="col-3">
                                <div class="row">
                                    <div class="col-12">
                                        <strong>Advance Required</strong>
                                    </div>
                                    <div class="col-12">
                                            {{advance_required}}
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="showvalForAdvance" class="col-3">
                                <div class="row">
                                    <div class="col-12">
                                        <strong>Advance Amount</strong>
                                    </div>
                                    <div class="col-12">
                                            {{advance_money}}
                                    </div>
                                </div>
                            </div>
                    
                            <!-- <div class="col-12 " style="visibility: hidden">safasfasfasf</div> -->


                            <div class="col-3">
                                <div class="row">
                                    <div class="col-12">
                                        <strong>Travel Mode</strong>
                                    </div>
                                    <div class="col-12">
                                            {{travel_mode}}
                                    </div>
                                </div>
                            </div>

                            <div class="col-3">
                                <div class="row">
                                    <div class="col-12">
                                        <strong>Client Info</strong>
                                    </div>
                                    <div class="col-12">
                                            {{client_info}}
                                    </div>
                                </div>
                            </div>

                            <div class="col-3">
                                <div class="row">
                                    <div class="col-12">
                                        <strong>Remarks </strong>
                                    </div>
                                    <div class="col-12">
                                            {{remarks}}
                                    </div>
                                </div>
                            </div>

                            <div class="col-3">
                                <div class="row">
                                    <div class="col-12">
                                        <strong>Raised By</strong>
                                    </div>
                                    <div class="col-12">
                                            {{raised_by}}
                                    </div>
                                </div>
                            </div>


                        <div class="col-12 " style="visibility: hidden">safasfasfasf</div>

                        <div  class="col-12">
                                <h4 style="color: #2e448f">Attached Approval </h4><hr>
                        </div>


                        <div class="col-3">
                            <div class="row">
                                
                                <div class="col-12">
                                    <img src="http://localhost/server-code/media/domesticBill/{{file_upload}}" alt="bill">
                                </div>
                            </div>
                        </div>


                        <div class="col-12 text-right">
                                <button class="btn btn-success" name="hello" (click)="openModal(template,1)"> Approve </button>
                                <button style="visibility: hidden">ve</button>
                                <button class="btn btn-danger"  id="btn2" (click)="openModal(template,2)"> Reject </button>
                            </div>


                </div>
                  
            </div>
            
            
          </div>
   
  
      
    </div>
  
  </div>
    
  
  <ng-template #template>
        <div class="modal-header">
          <h4 class="modal-title pull-left" *ngIf="appHeading">Approve Trip</h4>
          <h4 class="modal-title pull-left " *ngIf="rejHeading">Reject Trip</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body ">
                <form [formGroup]="approvalDomesticForm" (ngSubmit)="ApproveForm()" class="row  text-center">
                    <div *ngIf="showvalForBill" class="col-12">
                        <div class="row">
                        <div class="col-12">
                               User requested Advance Amount :  <strong>Rs {{advance_money}}</strong>
                        </div>

                        
                          <div class="form-group col-12">
                              <div class="row">
                            <label for="staticEmail" class="col-sm-12 col-form-label">Do you want to approve this amount ?</label>
                            <div class="col-sm-12">
                            <label class="radio-inline lableRadio">
                                <input formControlName="optradio" type="radio" value="1" name="optradio" (change)="onItemChange($event)">Yes
                            </label>
                            <label class="radio-inline lableRadio" >
                                <input formControlName="optradio" type="radio" value="2" name="optradio" (change)="onItemChange($event)">No
                            </label>
                            </div>
                            </div>
                        </div>
                
                     
                        <div *ngIf="showval" class="form-group col-12 text-left">
                            <div class="row">
                          <label for="staticEmail" class="col-sm-12 col-form-label">Amount</label>
                          <div class="col-sm-12">
                            <input formControlName="amount" name="amount" type="text" class="form-control"  placeholder="Enter Lastname" />
                          </div>
                          </div>
                        </div>


                        </div>
                    </div>

                        <div  class="form-group col-12 text-left">
                            <div class="row">
                          <label for="staticEmail" class="col-sm-12 col-form-label">Remarks</label>
                          <div class="col-sm-12">
                            <input formControlName="mangerRemarks" name="mangerRemarks" type="text" class="form-control"  placeholder="Enter remarks" />
                          </div>
                          </div>
                        </div>
                
                
                        <div class="col-11 text-right">

                              <button *ngIf="approvebtn" class="btn btn-success">Approve</button>
                              <button  *ngIf="rejectbtn" class="btn btn-danger">Reject</button>

                        </div>
                              
                              
                
                    </form>



        </div>
        
      </ng-template>

<!-- 
      <ng-template #templateReject>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Reject Trip</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body ">
                    <form (ngSubmit)="RejectForm()" class="row  text-center">
                        <div *ngIf="showvalForBill" class="col-12">
                            <div class="row">
                            <div class="col-12">
                                <h2>Are You sure you want to reject this trip? </h2>
                            </div>

                            <div class="col-11 text-right">
    
                                  <button type="submit" class="btn btn-danger">Reject</button>
    
                            </div>
                                  
                                  
                    
                        </form>
    
    
    
            </div>
            
          </ng-template> -->